@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@theme {
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);
  --color-white: hsl(0, 0%, 100%);

  /* Tailwind detecta '--font-' e cria a classe de fonte
    (ex: .font-karla)
  */
  --font-karla: 'Karla', sans-serif;
}

body {
  background-color: var(--color-green-200);
}
